<nav role="navigation" aria-label="Top Navigation" data-template="common/navigation">
 <div class="menu">
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="admin/update">Updates</a></li>
    </ul>
    <ul>
        <li><a>Post</a></li>
        <li><a>Media</a></li>
        <li><a>Pages</a></li>
        <li><a>Comments</a></li>
    </ul>
    <ul>
        <li><a>Appearance</a></li>
        <li><a>Plugins</a></li>
        <li><a>Users</a></li>
        <li><a>Tools</a></li>
        <li><a>Setting</a></li>
    </ul>
 </div>
</nav>
