@keyframes menu-scroll {
  0% {
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.active {
  background-color: red;
}

@keyframes rotate-menu {
  0% {
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes zoom-out {
  0%{}
  100%{
      transform: scale(1);
  }
}

@keyframes skew-open {
  0%{

  }
  100%{
    transform: skew(0,0);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -100% 0%;
  }
}
@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}