<div id="comment" data-template="site/admin/comment">
   <div class="comment-header">
    <h4>Comments</h4>
    <p>Following comment are found here</p>
   </div>
   <div class="comment-banner">
    <div class="comment-banner-box">
        <h6>Project Completion</h6>
        <p>Dashboard</p>
        <div class="loading">
            <div class="loading-progress first-bar"></div>
          </div>
    </div>    
    <div class="comment-banner-box">
        <h6>Memory Usage</h6>
        <p>Space get in Repo</p>
        <div class="loading">
            <div class="loading-progress second-bar"></div>
          </div>
    </div>    
    <div class="comment-banner-box">
        <h6>Visitor Visit</h6>
        <p>I clone many time</p>
        <div class="loading">
            <div class="loading-progress third-bar"></div>
          </div>
    </div>
   </div>
   <div class="comment-menu">
    <div class="clock-design">
        <div class="clock">
            <div class="hours">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second">
                <div class="number">0</div>
              </div>
            </div>
            <div class="tick">:</div>
            <div class="minutes">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second">
                <div class="number">0</div>
              </div>
            </div>
            <div class="tick">:</div>
            <div class="seconds">
              <div class="first">
                <div class="number">0</div>
              </div>
              <div class="second infinite">
                <div class="number">0</div>
              </div>
            </div>
          </div>
    </div>
   </div>
</div>