<div id="comment" data-template="site/admin/comment">
  <div class="comment-header">
    <h4>Comments</h4>
    <p>Following comment are found here</p>
  </div>
  <div class="comment-banner">
    <div class="comment-banner-box">
      <h6>Project Completion</h6>
      <p>Dashboard</p>
      <div class="loading">
        <div class="loading-progress first-bar"></div>
      </div>
    </div>
    <div class="comment-banner-box">
      <h6>Memory Usage</h6>
      <p>Space get in Repo</p>
      <div class="loading">
        <div class="loading-progress second-bar"></div>
      </div>
    </div>
    <div class="comment-banner-box">
      <h6>Visitor Visit</h6>
      <p>I clone many time</p>
      <div class="loading">
        <div class="loading-progress third-bar"></div>
      </div>
    </div>
  </div>
  <div class="comment-menu">
    <div class="clock-design">
      <div class="clock">
        <div class="hours">
          <div class="first">
            <div class="number">0</div>
          </div>
          <div class="second">
            <div class="number">0</div>
          </div>
        </div>
        <div class="tick">:</div>
        <div class="minutes">
          <div class="first">
            <div class="number">0</div>
          </div>
          <div class="second">
            <div class="number">0</div>
          </div>
        </div>
        <div class="tick">:</div>
        <div class="seconds">
          <div class="first">
            <div class="number">0</div>
          </div>
          <div class="second infinite">
            <div class="number">0</div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-block "> 
      <div class="menu-item bg-blue-500">
        <img src="/images/common/logo.png" alt="">
        <h6>Visitors</h6>
        <p>10 K</p>
      </div>     
      <div class="menu-item bg-green-500">
        <img src="/images/common/logo.png" alt="">
        <h6>Volume</h6>
        <p>100 %</p>
      </div>     
      <div class="menu-item bg-orange-500">
        <img src="/images/common/logo.png" alt="">
        <h6>Rating</h6>
        <p>10 / 10</p>
      </div>   
      <div class="menu-item bg-red-400">
        <img src="/images/common/logo.png" alt="">
        <h6>Achivement</h6>
        <p>20</p>
      </div>
    </div>
    <div class="user-detail">
      <div class="user-bgimage">
        <img src="../../../../../images/media/pic-05.jpg" alt="">
      </div>
      <div class="user-img">
        <img src="../../../../../images/common/pwa-192.png" alt="">
        <p>Josephine Villa</p>
        <p>Software Engenier</p>
      </div>
    </div>
  </div>
</div>
