<div id="admin" data-template="site/admin/dashboard">
    <div class="dashboard-header">
        <h2>Dashboard</h2>
        <div class="dashboard-banner">
            <h3>Welcome to Setjs Dashboard</h3>
            <p>Learn more about our latest framework features</p>
        </div>
        <div class="dashboard-banner-item">
            <div class="banner-item">
                <h5>Aurthor rich content with blocks and patterns</h5>
                <p>Block patters are pre configured block layout. Use them to get inspired or create new pages in a flash</p>
                <a href="">Add a new page</a>
            </div>    
            <div class="banner-item">
                <h5>Start Customizing</h5>
                <p>Configure your site’s logo, header, menus, and more in the Customizer.</p>
                <a href="">Open the Customizer</a>
            </div>   
            <div class="banner-item">
                <h5>Discover a new way to build your site.</h5>
                <p>There is a new kind of WordPress theme, called a block theme, that lets you build the site you’ve always wanted — with blocks and styles.</p>
                <a href="">Learn about block theams</a>
            </div>
        </div>
        <div class="dashboard-widget">
                <div class="widget-left">
                    <div class="health">
                        <h6>Site Health Status</h6>
                        <div class="flex">
                            <p>No Information yet ...</p>
                            <p>Site health check automatically when your site is live. You also visit site health checker to make sure this operation works</p>
                        </div>
                    </div>
                    <div class="at-glance">
                        <h6>At a Glance</h6>
                        <div class="grid grid-cols-2">
                            <p>1 post</p>
                            <p>6 pages</p>
                            <p>1 comment</p>
                        </div>
                        <p>Setjs is running on gulp</p>
                    </div>
                </div>
                <div class="widget-right">
                    <div class="quick-draft">
                        <h6>Quick draft</h6>
                        <label for="title">Title</label>
                        <input type="text" id="title">
                        <label for="content">Content</label>
                        <textarea name="" id="content" cols="25" rows="2"></textarea>
                        <button>Save Draft</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>