<div id="pages" data-template="site/admin/pages">
  <div class="page-header">
    <h4>Pages</h4>
    <button>Add new</button>
  </div>
  <div class="page-banner">
    <a href="">All</a>
    <a href="">Mine</a>
    <a href="">Published</a>
    <a href="">Draft</a>
  </div>
  <div class="page-form">
    <select>
      <option>Bulk Action</option>
      <option>Edit</option>
      <option>Move to Trash</option>
    </select>
    <button>Apply</button>
    <select>
      <option>All Dates</option>
      <option>Last Week</option>
      <option>Last Month</option>
      <option>Last Year</option>
    </select>
    <button>Filter</button>
  </div>
  <div class="page-table">
    <table>
      <tr>
        <td><input type="checkbox" /></td>
        <td>Title</td>
        <td>Aurthor</td>
        <td>Date</td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>About</td>
        <td>---</td>
        <td>Published 2022/07/23</td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>Blog</td>
        <td>---</td>
        <td>Published 2022/07/23</td>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>Contact</td>
        <td>---</td>
        <td>Published 2022/07/23</td>
      </tr>
    </table>
    <div class="table-last">
      <select>
        <option>Bulk Action</option>
        <option>Edit</option>
        <option>Move to Trash</option>
      </select>
      <button>Apply</button>
    </div>
  </div>
</div>
