<div id="post" data-template="site/admin/post">
  <div class="post-header">
    <h4>Posts</h4>
    <button>Add New</button>
  </div>
  <div class="post-link">
    <a href="#">All</a>
    |
    <a href="#">Published</a>
  </div>
  <div class="post-form">
    <table>
      <tr>
        <th><input type="checkbox" /></th>
        <th>Title</th>
        <th>Aurthor</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Date</th>
      </tr>
      <tr>
        <td><input type="checkbox" /></td>
        <td>Hellow world</td>
        <td>Admin</td>
        <td>un catagory</td>
        <td>----</td>
        <td>Published 2022/07/23</td>
      </tr>
      <tr>
        <th><input type="checkbox" /></th>
        <th>Title</th>
        <th>Aurthor</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Date</th>
      </tr>
    </table>
    <div class="post-table-btn">
        <select name="" id="">
         <option value="">Bulk Action</option>
         <option value="">Edit</option>
         <option value="">Move to Trash</option>
        </select>
        <button>Apply</button>
    </div>
  </div>
</div>
