<div id="update" data-template="site/admin/update">
   <div class="update-header">
    <h4>Setjs update</h4>
    <p>Here you can find information about update, set auto update and see what source you have need to be update</p>
   </div>
   <div class="update-version">
    <h5>Current version :-</h5>
    <p>Last check now and you have latest version of setjs is found</p>
    <p>This site will help you to findout how to be work in setjs</p>
    <a href="/">switch to automatic update for maintaince and release only version items</a>
   </div>
</div>