#comment {
  @apply mt-5;
  .comment-header {
    h4 {
      @apply text-lg font-normal;
    }
    p {
      @apply text-sm;
    }
  }
  .comment-banner {
    @apply mt-5 w-full grid grid-cols-3 gap-3;
    .comment-banner-box {
      @apply bg-white px-3 py-3;
      h6 {
        @apply text-base text-gray-700;
      }
      p {
        margin: 0 0 15px 0;
      }
      .loading {
        @apply relative;
        .loading-progress {
          @apply h-2;
          /* height: 5px; */
          /* width: 250px; */
          border-radius: 3px;
          background: linear-gradient(
            90deg,
            red 0%,
            yellow 15%,
            lime 30%,
            cyan 50%,
            blue 65%,
            magenta 80%,
            red 100%
          );
          background-size: 150%;
          animation: moveGradient 5s linear infinite;
        }
        .first-bar {
          width: 50%;
          position: relative;
        }
        .first-bar::before {
          content: "50%";
          position: absolute;
          top: -20px;
          right:-12px;
          font-size: 12px;
        }

        .second-bar {
          @apply w-1o12;
          position: relative;
        }
        .second-bar::before {
          content: "10%";
          position: absolute;
          top: -20px;
          right:-12px;
          font-size: 12px;
        }
        .third-bar {
          @apply w-11o12;
          position: relative;
        }
        .third-bar::before {
          content: "90%";
          position: absolute;
          top: -20px;
          right:-12px;
          font-size: 12px;
        }
        .loading-value {
          @apply absolute top-0 right-0;
        }
      }
    }
  }
  .comment-menu{
    .clock-design{
        @apply bg-blue-500;
          .clock {
            @apply flex relative overflow-hidden;
            height: 20vh;
            font-size: 5vh;
            font-family: sans-serif;
            line-height: 20.4vh;
          }
          
          .clock::before, .clock::after {
            content: '';
            width: 30rem;
            height: 3vh;
            position: absolute;
            z-index: 2;
          }
          
          .clock::after {
            bottom: 0;

          }
          
          .clock > div {
            display: flex;
          }
          
          .tick {
            line-height: 17vh;
          }
          
          .tick-hidden {
            opacity: 0;
          }
          
          .move {
            animation: move linear 1s infinite;
          }
          
          @keyframes move {
            from {
              transform: translateY(0vh);
            }
            to {
              transform: translateY(-20vh);
            }
          }
          
          
    }
  }
}
