#comment {
  @apply mt-5;
  .comment-header {
    h4 {
      @apply text-lg font-normal;
    }
    p {
      @apply text-sm;
    }
  }
  .comment-banner {
    @apply mt-5 w-full grid grid-cols-3 gap-3;
    .comment-banner-box {
      @apply bg-white px-3 py-3;
      h6 {
        @apply text-base text-gray-700;
      }
      p {
        margin: 0 0 15px 0;
      }
      .loading {
        @apply relative;
        .loading-progress {
          @apply h-2;
          /* height: 5px; */
          /* width: 250px; */
          border-radius: 3px;
          background: linear-gradient(
            90deg,
            red 0%,
            yellow 15%,
            lime 30%,
            cyan 50%,
            blue 65%,
            magenta 80%,
            red 100%
          );
          background-size: 150%;
          animation: moveGradient 5s linear infinite;
        }
        .first-bar {
          width: 50%;
          position: relative;
        }
        .first-bar::before {
          content: "50%";
          position: absolute;
          top: -20px;
          right: -12px;
          font-size: 12px;
        }

        .second-bar {
          @apply w-1o12;
          position: relative;
        }
        .second-bar::before {
          content: "10%";
          position: absolute;
          top: -20px;
          right: -12px;
          font-size: 12px;
        }
        .third-bar {
          @apply w-11o12;
          position: relative;
        }
        .third-bar::before {
          content: "90%";
          position: absolute;
          top: -20px;
          right: -12px;
          font-size: 12px;
        }
        .loading-value {
          @apply absolute top-0 right-0;
        }
      }
    }
  }
  .comment-menu {
    @apply grid grid-cols-3 gap-3 mt-3 h-56;
    .clock-design {
      position: relative;
      @apply bg-blue-500 h-24;
      .clock {
        @apply flex relative overflow-hidden w-full;
        height: 10vh;
        font-size: 5vh;
        font-family: sans-serif;
      }

      .clock > div {
        display: flex;
        align-items: baseline;
      }

      .tick-hidden {
        opacity: 0;
      }

      .move {
        animation: move linear 1s infinite;
      }
    }
    .clock-design::after {
      width: 100px;
      height: 100px;
      content: " ";
      position: absolute;
      background-color: red;
      border-radius: 50%;
      left: 50%;
      border: 10px solid white;
      transform: translate(-50%, 0%);
      background-image: url(https://static.vecteezy.com/system/resources/thumbnails/004/557/491/small/round-clock-cartoon-object-vector.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .menu-block {
      /* background-color: aqua; */
      @apply grid grid-cols-2 gap-3;
      .menu-item {
        @apply flex flex-col justify-center items-center;
        img {
          max-width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: white;
          border: 5px solid white;
        }
        h6 {
          @apply text-sm text-white font-light;
        }
        p {
          @apply text-base text-white font-light;
        }
      }
    }
    .user-detail {
      @apply relative;
      .user-bgimage {
        max-height: 50px;
        img {
          height: 100px;
        }
      }
      .user-img {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        img {
          width: 100px;
        }
        p{@apply m-0;}
      }
    }
  }
}
